<div class="body">

  <div class="box-rounder">
  <h1 class="box-rounder-h1">Sign Up</h1>
  <div class="input-box">
    <input type="text" id="firstname" name="firstname" placeholder="First Name">
  </div>
  <div class="input-box">
    <input type="text" id="lastname" name="lastname" placeholder="Last Name">
  </div>
  <div class="input-box">
    <input type="email" id="email" name="email" placeholder="Email">
  </div>
  <div class="input-box">
    <input type="tel" id="telefonnr" name="telefonnr" placeholder="Telephone Number">
  </div>
  <button class="btn" type="submit">Sign Up</button>
</div>
</div>



