.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 2);
  border-color: #6c5d66;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  color: rgb(32, 65, 87);
  border-radius: 20px;
  padding: 5px 5px;
}
.box{
margin-left: 1px;
  margin-top: 15px;
}
.infobox{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.deleteBtn{
  width: 120px;
  height: 20px;
  display: flex;
  justify-content: center;
  position: absolute;bottom: 10px;
  position: absolute;right: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 12px;
  color: #333;
  font-weight: 600;
}
