<div>
<header class="navbar">

  <div class="logo">
    <img src="../assets/logo.png" height="105" width="270"/>
  </div>
  <nav>
    <ul>
      <li><button routerLink="">Home</button></li>
      <li><button routerLink="/categories">Kategori</button></li>
      <li><button routerLink="/app-associations-page/1">Foreninger</button></li>
      <li><button routerLink="/associations">Create-Association</button></li>
      <li><button routerLink="/about">About</button></li>
      <li><button routerLink="/contact">Contact</button></li>
      <li><button routerLink="/user-login" >Login</button></li>
      <li><button routerLink="/user-signup">Signup</button></li>

    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
<div class="footerContainer">
  <div class="footerNav">
    <div class="footerBottom">
      <p>Copyright &copy; 2024; Designed by <span class="designer">Ithappens</span></p>
    </div>
  </div>
</div>
</footer>
</div>
