@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 20px;
}

.logo img {
  height: 65px;

  &:hover {
    cursor: pointer;
  }
}

nav {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding: 0.5rem;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

nav ul li button {
  background: #ffffff;
  border: 2px solid #007889;
  border-radius: 5px;
  color: #007889;
  font-size: 24px;
  padding: 5px 20px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #007889;
    color: #fff;
  }
}


footer{
  background-color: #007889;
}
.footerContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 30px ;
}
.designer{
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}
.w-33 {
  width: 33%;
}
.Copyright {
  text-align: center;
  color: white;
}
.GitHub {

  a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;


    svg {
      fill: #fff;
    }

    p {
      text-align: center;
      padding-left: 0.5rem;
    }
  }


}
