
p{
  color: black;
}

h3{
  color: black;
}
.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 200px;
  background: url("/assets/lot-hands-up-crowd-vector-minimal-design-illustration-fan-zone-prayers-beggars-poverty_570429-2200.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
.hero__text-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hero__text {
  color: #ffffff;
  text-align: center;
}
.hero__pre-heading {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
  font-family: "Mr Dafoe", sans-serif;
}
.hero__heading {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 16%;
  margin-left: 16%;
}
.card{
  width: 225px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}
.card img{
  width: 100%;
  height: 150px;
}
.card-content{

  padding:16px;
}
.card-content{
  font-size: 14px;
  margin-bottom: 0px;
}
.body {
  display: flex;
  flex-wrap: wrap;
}

.booking-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-inline: 35px;
  padding-bottom: 35px;
}

.booking{
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}
.booking img{
  width: 100%;
  height: 100px;

}
.booking-content{

  padding:2px;
}
.booking-content{
  font-size: 28px;
  margin-bottom: 8px;
}
.booking-content {
  color: white;
  font-size: 15px;
  line-height: 1.3;
}
.body {
  display: flex;
  flex-wrap: wrap;
}
