@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 h2 h3 {
  font-family: "Oswald", sans-serif;
}

section {
  margin-bottom: 20px
}

header {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
}

header h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;

}

header p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

header button {
  background-color: #008193;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.events {
  padding: 20px;
  background-color: white;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.events h2 span {
  color: #008193;
  cursor: pointer;
}

.events-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
}

.event-card {
  background-color: #e6f5ff;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
    align-items: center;
  }
}

.event-card img {
  width: 100%;
  max-height: 130px;
  overflow: hidden;
}

.event-card h3 {
  font-size: 18px;
  margin: 15px;
}

.event-card p {
  font-size: 14px;
  color: #666;
  margin: 0 15px 15px 15px;
}

.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 200px;
  background: url("/assets/lot-hands-up-crowd-vector-minimal-design-illustration-fan-zone-prayers-beggars-poverty_570429-2200.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}

.hero__text-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero__text {
  color: #ffffff;
  text-align: center;
}

.hero__pre-heading {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
  font-family: "Mr Dafoe", sans-serif;
}

.hero__heading {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .events-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

@media (max-width: 600px) {
  .events-grid {
    grid-template-columns: 1fr; /* 1 column for extra small screens */
  }
}

.flex-col {
  flex-direction: column;
  padding-right: 12%;
  padding-left: 12%;
}

.popular-associations {
  text-align: center;

  .associations-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .association-card {
      margin: 20px;
      text-align: center;
      width: 300px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover{
        transform: scale(1.05);
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: inherit;
        align-items: center;
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      h3 {
        margin-top: 10px;
      }

      p {
        margin: 5px 0;
      }
    }
  }
}

.how-meetup-works {
  text-align: center;
  margin-top: 40px;

  .how-it-works-grid {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    .how-it-works-item {
      background-color: #e6f0ff;
      border-radius: 12px;
      padding: 20px;
      min-width: 300px;
      max-width: 500px;
      height: 200px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: left;
      display: flex;
      align-items: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-3px);
        cursor: pointer;
      }

      a {
        display: flex;
        text-decoration: none;
        color: inherit;
        align-items: center;
      }

      .icon {
        flex: 0 0 auto;
        margin-right: 20px;

        svg {
          width: 40px;
          height: 40px;
          fill: #008193;
        }
      }

      .content {
        h3 {
          margin-bottom: 10px;
          font-size: 1.2em;
        }

        p {
          margin-bottom: 20px;
        }

        span {
          color: #008193;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}
