<body>
<section class="hero"></section>
<div class="flex-col">
  <header>
    <h1>Unlock Friendship—Explore Shared Interests, Attend Exciting Events, and Build Connections at ItHappens</h1>
    <p>Discover your passion—whether it's hiking, reading, networking, or skill sharing, join thousands who share your
      interests on ItHappens. Events are happening daily—sign up and dive into the excitement!</p>
    <button routerLink="/user-signup">Join Today</button>
  </header>
  <section class="events">
    <h2>Events near <span>Esbjerg C, ES</span></h2>
    <div class="events-grid">
      <div class="event-card" *ngFor="let event of ws.events | slice:0:20">
        <a [routerLink]="['/event-info', event.EventId]">
          <div>
            <img [src]="event.ImageUrl" [alt]="event.Name">
          </div>
          <div class="content">
            <h3>{{ event.Name }}</h3>
            <p>Hosted by: {{ event.AssociationId }}</p>
            <p>{{ event.Location }}</p>
            <p>{{ event.Date | date: 'EEE, MMM d · h:mm a' }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="popular-associations">
    <h2>Popular associations on ItHappens</h2>
    <div class="associations-grid">
      <div class="association-card" *ngFor="let association of ws.associations | slice:0:4">
        <a [routerLink]="['/app-associations-info', association.AssociationId]">
          <div>
            <img [src]="association.ProfileUrl" [alt]="association.Name">
          </div>
          <div class="content">
            <h3>{{ association.Name }}</h3>
            <p>Email: {{ association.Email }}</p>
            <p>Telephone: {{ association.Phone }}</p>
            <p>Address: {{ association.Address }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="how-meetup-works">
    <h2>How ItHappens works</h2>
    <div class="how-it-works-grid">
      <div class="how-it-works-item">
        <a routerLink="/events">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
            </svg>
          </div>
          <div class="content">
            <h3>Discover events and groups</h3>
            <p>See who's hosting local events for all the things you love</p>
            <span>Search events and groups</span>
          </div>
        </a>
      </div>
      <div class="how-it-works-item">
        <a routerLink="/associations">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
          </div>
          <div class="content">
            <h3>Start a group to host events</h3>
            <p>Create your own association, and draw from a community of millions</p>
            <span>Start a group</span>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
</body>


