<div class="body">
  <form class="" [formGroup]="activityForm">
    <div class="box-rounder">
      <h1 class="box-rounder-h1">Activity Creation</h1>

      <div class="input-box">
        <input  type="url" id="activityImage" name="activityImage" placeholder="ImageUrl" class="form-control" formControlName="activityImage">
        <div class="text danger" *ngIf="activityForm.controls['activityImage'].invalid &&
      (activityForm.controls['activityImage'].touched || activityForm.controls['activityImage'].dirty || isFormSubmitted)">
          <span *ngIf="activityForm.controls['activityImage'].errors?.['required']">Requires an image</span>
        </div>
      </div>

      <div class="input-box">
        <input  type="text" id="category" name="category" placeholder="Category" class="form-control" formControlName="category">
        <div class="text danger" *ngIf="activityForm.controls['category'].invalid &&
      (activityForm.controls['category'].touched || activityForm.controls['category'].dirty || isFormSubmitted)">
          <span *ngIf="activityForm.controls['category'].errors?.['required']">This is Required</span>
        </div>
      </div>

      <div class="input-box">
        <input type="text" id="location" name="location" placeholder="Location" class="form-control" formControlName="location">
        <div class="text danger" *ngIf="activityForm.controls['location'].invalid &&
    (activityForm.controls['location'].touched || activityForm.controls['location'].dirty || isFormSubmitted)">
          <span *ngIf="activityForm.controls['location'].errors?.['required']">This is Required</span>
        </div>
      </div>

      <div class="input-box">
        <input  type="text" id="address" name="address" placeholder="Address" class="form-control" formControlName="address">
        <div class="text danger" *ngIf="activityForm.controls['address'].invalid &&
    (activityForm.controls['address'].touched || activityForm.controls['address'].dirty || isFormSubmitted)">
          <span *ngIf="activityForm.controls['address'].errors?.['required']">This is required</span>
        </div>
      </div>

      <div class="input-box">
        <input type="text" id="association" name="association" placeholder="Association" pattern="[0-9]{8}" class="form-control" formControlName="association">
        <div class="text danger" *ngIf="activityForm.controls['association'].invalid &&
    (activityForm.controls['association'].touched || activityForm.controls['association'].dirty || isFormSubmitted)">
          <span *ngIf="activityForm.controls['association'].errors?.['required']">This is required</span>
        </div>
      </div>

      <div class="input-box">
        <input  type="datetime-local" id="booking" name="booking" placeholder="Booking" class="form-control" formControlName="booking">
        <div class="text danger" *ngIf="activityForm.controls['booking'].invalid &&
      (activityForm.controls['booking'].touched || activityForm.controls['booking'].dirty)">
          <span *ngIf="activityForm.controls['booking'].errors?.['required']">You must choose a date and time</span>
        </div>
      </div>

      <button class="btn" type="button" (click)="onSubmit()">Create</button>

    </div>
  </form>
</div>
