
<header>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>
<div class="body">
<div class="box-rounder">
  <form action="">
    <h1 class="box-rounder-h1">Login</h1>
    <div class="input-box" >
      <input type="text" placeholder="Email" required name="email" class="form-control" formControlName="email">
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box" >
      <input type="text" placeholder="Password" required name="password" class="form-control" formControlName="password">
      <i class='bx bxs-lock-alt' ></i>
    </div>

    <div class="remember-forgot">
      <label> <input type="checkbox">Remember me</label>
      <a href="#"> Forgot password?</a>
    </div>

    <button class="btn" type="button" (click)="onSubmit()">Log in</button>
    <div class="register-link">
      <p>Don't have an account?
        <a href="/user-signup">Register </a>
      </p>
    </div>

  </form>
</div>
</div>
<footer></footer>

