<section class="hero"></section>
<div class="eventBody">

  <div class="flex-container">
    <div class="descriptionBox">
      <h3 class="description">Experience the raw energy and soul-stirring melodies of our electrifying Rock Music Event! Immerse yourself in a night of pure sonic dynamism, as renowned rock bands take the stage to ignite your passion for music. From heart-pounding guitar riffs to thunderous drum beats, every note will resonate through your soul, creating an unforgettable journey through the realms of rock. Whether you're a die-hard rocker or a casual enthusiast, join us for an electrifying night filled with unforgettable performances, vibrant atmosphere, and the timeless spirit of rock 'n' roll."</h3>
    </div>

<button class="btnEvent" type="button">Reserve A Spot</button>

</div>
</div>

