.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 400px;
  background: url("/assets/lot-hands-up-crowd-vector-minimal-design-illustration-fan-zone-prayers-beggars-poverty_570429-2200.jpg") no-repeat center center;
  background-size: cover;
  min-width: 900px;
}
.hero__text-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hero__text {
  color: #ffffff;
  text-align: center;
}
.hero__pre-heading {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
  font-family: "Mr Dafoe", sans-serif;
}
.hero__heading {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.eventBody{
  min-height: 80vh;
}
.flex-container{
  width: max-content;
  height: max-content;
  margin-top: 20px;
  margin-left: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 2);
  border-color: #6c5d66;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  color: rgb(32, 65, 87);
  border-radius: 10px;
  padding: 10px 10px;
}
.descriptionBox{
  justify-content: start;
  width: 500px;
  height: max-content;
  margin-top: 20px;
  margin-left: 20px;
}
.btnEvent{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 12px;
  color: #333;
  font-weight: 600;
}
