<main>
  <section class="hero"></section>
  <section>
    <button class="btnEvent" type="button" (click)="createEvent()">Create An Event</button>
    <div class="grid">
      <div class="product__imagecontainer">
        <div class="product__image">
          <img width="540" height="350" [src]="association?.ProfileUrl">
        </div>
      </div>
      <div class="product__content">
        <h1 class="alt smaller">{{association?.Name}}</h1>
        <div class="product__short-description">
          <p>{{ association?.Description }}</p>
        </div>
      </div>
      <div class="card-container list">
        <div *ngFor="let events of ws.events" class="card">
          <img [src]="events.ImageUrl" alt="Card Image">
          <div class="card-content">
            <h3>{{ events.Name }}</h3>
            <p>{{ events.Date }}</p>
            <p>{{ events.Location }}</p>
          </div>
        </div>
      </div>
      <div class="product-information">
        <h3>Information</h3>
        <div>
          <p>Address: {{association?.Address}}</p>
          <p>telephone: {{association?.Phone}}</p>
          <p>email: {{association?.Email}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
