<main>
  <section class="hero"></section>

  <section>
    <button class="btnEvent" type="button" (click)="createEvent()">Create An Event</button>
    <div class="grid">
      <div class="product__imagecontainer">
        <div class="product__image">
          <img width="540" height="350" [src]="association?.imgUrl">
        </div>
      </div>
      <div class="product__content">
        <h1 class="alt smaller">{{association?.name}}</h1>
        <div class="product__short-description">
          <p>{{ association?.description }}</p>
        </div>
      </div>
      <div class="card-container list">
        <div *ngFor="let card of state.cards" class="card">
          <img [src]="card.imgurl" alt="Card Image">
          <div class="card-content">
            <h1 class="card-header">{{card.title }}</h1>
            <h3>{{ card.location }}</h3>
            <p>host</p>
          </div>
        </div>
      </div>
      <div class="product-information">
        <h3>Information</h3>
        <div>
          <p>Address: {{association?.address}}</p>
          <p>telephone: {{association?.telephone}}</p>
          <p>email: {{association?.email}}</p>
        </div>
      </div>
    </div>
  </section>

</main>
