<body>
<main class="flex-col">
  <header class="association-top-bar">
    <div class="icon">
      <h1 class="">{{ association?.Name }}</h1>
      <a [routerLink]="['/app-associations-info', association?.AssociationId]">
        <div class="association-info">
          <img [src]="association?.ProfileUrl" [alt]="association?.Name">
          <div class="Hosted-By">
            <p>Hosted By</p>
            <span>{{ association?.Name }}</span>
          </div>
        </div>
      </a>
    </div>

  </header>
  <section class="association-action-bar">

  </section>
  <section>
    <div class="event-content">
      <div class="event__imagecontainer">
        <img class="event__image" [src]="association?.ProfileUrl" alt="association ProfileUrl">
      </div>
      <div class="event__description">
        <span class="alt smaller">Description</span>
        <div class="event__short-description">
          <p>{{ association?.Description }}</p>
        </div>
        <div class="tags">
          <span class="tag">Sport</span>
          <span class="tag">Art</span>
          <span class="tag">Music</span>
          <span class="tag">Games</span>
        </div>
      </div>
    </div>
  </section>
</main>
</body>

